@font-face {
    font-family: 'HelveticaNormal';
    src: url(/src/fonts/HelveticaNormal.eot);
    src: local('0'), url(/src/fonts/HelveticaNormal.woff) format('woff'), 
        url(/src/fonts/HelveticaNormal.ttf) format('truetype'), 
        url(/src/fonts/HelveticaNormal.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaBold';
    src: url(/src/fonts/HelveticaBold.eot);
    src: local('0'), url(/src/fonts/HelveticaBold.woff) format('woff'), 
        url(/src/fonts/HelveticaBold.ttf) format('truetype'), 
        url(/src/fonts/HelveticaBold.svg) format('svg');
    font-weight: 700;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'HelveticaNormal';
}
.container{
    max-width: 1140px;
    width:96%;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}
.logo{
    font-family: 'HelveticaBold';
    color: #95989a;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.socials a{
    text-decoration: none;
    margin-left: 20px;
}
.top-header{
    padding-top: 70px;
    padding-bottom: 190px;
    background-color: #f4f5f7;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-text{
    width: 50%;
    color: #32325f;
}
.main-image{
    width: 50%;
}
.main-image img{
    width: 100%;
}
.subtitle{
    font-size:20px;
    font-weight:400;
    margin-bottom: 15px;
    display: block;
}
.title{
    font-family: 'HelveticaBold';
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 25px;
}
.desc{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 26px;
}
.price-tag{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}
.price{
    display: block;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
}
.buttons{
    margin-top: 50px;
}
.btn{
    font-family: 'HelveticaBold';
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.15);
    margin-right: 30px;
}
.green{
    background-color: #2dce89;
    border-radius: 6px;
}
.blue{
    background-color: #5e72e4;
    border-radius: 6px;
}
.about{
    padding: 100px 0px;
}
.about-subheadline{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    color: #32325f;
}
.about-headline{
    font-family: 'HelveticaBold';
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 100px;
    color: #32325f;
}
.about-item span{
    display:block;
    color: #525f7f;
    font-size: 16px;
    font-weight: 400;
    margin-right: 35px;
    line-height: 1.2;
}
.about-wrap{
    display: flex;
}
.about-item{
    width: 25%;
}
.about-item img{
    margin-bottom: 40px;
}
.footer{
    background-color: #32325f;
    padding-top: 80px;
    padding-bottom: 100px;
}
.footer-link{
    font-family: 'HelveticaBold';
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}
.footer-block{
    width: 33%;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
}
.footer-header{
    font-family: 'HelveticaBold';
    font-size: 24px; 
    font-weight: 700;
    color: #fff;
    margin-bottom: 35px;
}
.footer-name{
    font-family: 'HelveticaBold';
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}
.people{
    background-color: #f4f5f7;
    padding: 100px 0px;
}
.people-subheading{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    color: #32325f;
}
.people-heading{
    font-family: 'HelveticaBold';
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 65px;
    color: #32325f;
}
.people-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.people-img{
    width: 32%;
    margin-bottom: 30px;
}
.people-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
@media (max-width:1024px){
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .btn{
        display: inline-block;
        max-width: 250px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}
@media (max-width:768px){
    .main-image, .main-text{
        width: 100%;
    }
    .main-text{
        order:1;
    }
    .main{
        flex-direction: column;
    }
    .navbar{
        margin-bottom: 100px;
    }
    .top-header{
        padding-bottom: 100px;
    }
    .price{
        margin-bottom: 30px;
    }
    .about-item{
        width: 50%;
        margin-bottom: 50px;
    }
    .about-wrap{
        flex-wrap: wrap;
    }
    .about{
        padding: 80px 0 40px;
    }
    .people-img{
        width: 48%;
    }
    .footer-block{
        width: 50%;
        margin-bottom: 70px;
    }
    .footer-wrap{
        flex-wrap: wrap;
    }
}
@media (max-width:580px){
    .about-item{
        width: 100%;
    }
    .about-headline{
        margin-bottom: 50px;
    }
    .people-img{
        width: 100%;
    }
    .people-heading{
        margin-bottom: 30px;
    }
    .footer-block{
        width: 100%;
        margin-bottom: 50px;
    }
    .footer{
        padding-bottom: 0;
    }
}